body {
	background-color: hsl(185, 75%, 39%);
	overflow: hidden;
}

.css-main {
	display: flex;
}

.css-bgimage-top {
	position: relative;
	top: -500px;
    left: -250px;
}

.css-bgimage-bottom {
	position: relative;
	bottom: -370px;
    right: 580px;
}


.css-card {
	border-radius: 15px;
	position: relative;
	top: 150px;
    left: -370px;
	height: 390px;
	width: 350px;
	background-color: ghostwhite;
}

.css-card-cover {;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
	height: 156px;
	width: 350px;
	background-image: url("images/bg-pattern-card.svg");
}

.css-card-content {
	height: 156px;
	border-bottom: 1px solid lightgray;
}

.css-card-content ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}

.picture {
	display: flex;
	justify-content: center;
	margin-top: -50px;
}

.picture img {
	position: absolute;
	border: 5px solid whitesmoke;
	border-radius: 50%;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 80px;
}

.css-card-content ul li p {
	display: flex;
	justify-content: center;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 0px;
    padding: 0px;
}

.css-card-content ul li span {
	display: flex;
	justify-content: center;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 11px;
	font-weight: 400;
	color: gray;
	padding-top: 5px;
}

.css-card-footer {
	position: relative;
	height: 78px;
}

.css-card-footer ul {
	display: flex;
	list-style-type: none;
	flex-direction: row;
	justify-content: space-around;
	padding:  0;
	margin: 20px 50px 20px 50px;
}

.css-card-footer ul li p {
	display: flex;
	justify-content: center;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 0px;
    padding: 0px;
}

.css-card-footer ul li span {
	display: flex;
	justify-content: center;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 11px;
	font-weight: 400;
	color: gray;
	padding-top: 5px;
}



